# Backend .env:

# Neon
# this should be a pooled connection string.
DATABASE_URL
# this should be a direct connection string.
DATABASE_DIRECT_URL

# Appwrite
APPWRITE_PROJECT_ID
APPWRITE_API
APPWRITE_API_KEY
APPWRITE_BUCKET_ID


# Application
APP_ENV
CORS_ORIGINS


# Frontend .env:
